<ng-container>
  <mat-toolbar color="primary">{{ title }}</mat-toolbar>
  <mat-card class="card-demo">
    <mat-card-content>
      <div class="containerX">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex
             class="box">
          <div fxFlex>
            <form class="example-form">
              <mat-form-field class="full-width">
                <input matInput type="number" placeholder="Number of random strings" value="5" min="1" max="200" #length>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput type="number" placeholder="String size" value="20" min="1" max="255" #size>
              </mat-form-field>
            </form>
            <mat-slide-toggle [checked]="true" #upperCase>Upper case</mat-slide-toggle>
            <p></p>
            <mat-slide-toggle [checked]="true" #lowerCase>Lower case</mat-slide-toggle>
            <p></p>
            <mat-slide-toggle [checked]="true" #digits>Digits</mat-slide-toggle>
            <p></p>
            <mat-slide-toggle [checked]="false" #specialCharacters>Special charactes</mat-slide-toggle>
            <p></p>
            <button mat-raised-button color="primary" (click)="generateRandomString({length: length.value,
            size: size.value, upperCase: upperCase.checked, lowerCase: lowerCase.checked, digits: digits.checked, specialCharacters: specialCharacters.checked})">GENERATE</button>
          </div>
          <div fxFlex>
            <h1>Random strings:</h1>
            <mat-list role="list" *ngFor="let item of randomStrings">
              <mat-list-item role="listitem">
                <button mat-icon-button (click)="copyText(item.randomString)">
                  <mat-icon matTooltip="Copy to clipboard">file_copy</mat-icon>
                </button>
                {{ item.randomString }}</mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</ng-container>
